@model IEnumerable<Microsoft. AspNetCore. Identity. IdentityUser>
@{
    ViewData["Title"] = "User Management";

}

<h1>User Management</h1>

@foreach (var user in Model)
{

    <h4>@user.Email</h4>
}